[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libs/CMSIS"]
	path = libs/CMSIS
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "libs/CMSIS-arm2d"]
	path = libs/CMSIS-arm2d
	url = https://github.com/ARM-software/Arm-2D.git
[submodule "libs/CMSIS-dsp"]
	path = libs/CMSIS-dsp
	url = https://github.com/ARM-software/CMSIS-DSP.git
